#footer {
    width: 100%;
    height: 420px;
    background-color: black;
    padding-top: 20px;
    
}
#subscription {
    width: 600px;
    margin:0 auto;
    text-align: center;
    color: rgb(214, 207, 207);
   
}
#subscription fieldset {
    border:1px solid grey;
    height: 50px;
}
#subscription input:first-of-type {
    width: 300px;
    height: 33px;
    border:none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px grey;
    padding-left: 10px;
}
#subscription input:last-of-type {
    width: 80px;
    height: 36px;
    background-color:#bd2c2e;
    border:#bd2c2e;
    color:white;
    box-shadow: 1px 1px 3px 1px gray;
    display: inline-block;
    margin-left: 20px;
    border-radius: 5px;
}
#footer hr {
    width: 80%;
    border-top:1px solid grey;
    height: 0;
    
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
}
#footer hr:last-of-type {
    margin-bottom: 20px;
}
#links_hours {
    color:rgb(173, 170, 170);
    width: 1000px;
    height: 240px;
    margin: 0 auto;
    position: relative;
}
#links_table a {
    text-decoration: none;
    color:rgb(173, 170, 170);
    
}
#links_table a:hover {
    color:blueviolet;
}
#links_table {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
}
#links_table thead tr {
    height: 50px;
    
}
#links_table thead tr th {
    text-align: left;
}
#links_table thead tr th:after,
#hours_table thead tr th:after,
#add_table thead tr th:after {
    display: block;
    content: "";
    width: 50px;
    height: 0;
    border-top: 2px solid #bd2c2e;
    margin-top:5px;
}
#links_table tr td {
    /* border:1px solid beige; */
    font-size:12px;
}
#links_table tr {
    height:  30px;
}
#hours_table {
    position: absolute;
    float: left;
    top: 0;
    left: 290px;
    /* font-size: 12px; */
}
#hours_table thead tr {
    height: 50px;
}
#hours_table thead tr th {
    text-align: left;
}
#hours_table tbody tr{
    height: 30px;
}
#hours_table td {
    width: 120px;
    font-size: 12px;
}
#add_table {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
 
}
#add_table thead tr {
   height: 50px;
}
#add_table thead tr th {
   text-align: left;
}
#add_table tbody tr {
   height: 30px;
   
}
#add_table tbody td {
   
   font-size: 12px;

}

#copyright {
   color:rgb(173, 170, 170);
   text-align: center;
   font-size: 12px;
}